//text-size
$emblem_size: 33px;
$emblem_lh: 49.5px;
$link_size: 17px;
$link_lh: 27px;
$btn_size: 17px;
$btn_lh: 27px;
$label_size: 17px;
$label_lh: 27px;
$normal_size: 22px;
$normal_lh: 33px;
$normal_size_tablet: 18px;
$normal_lh_tablet: 25px;
$mini-title_size: 15px;
$mini-title_lh: 24px;
$midi-title_size: 18px;
$midi-title_lh: 27px;
$title_size: 64px;
$title_lh: 70.4px;
$title_size_tablet: 40px;
$title_lh_tablet: 48px;
$title_size_mobile:26px;
$title_lh_mobile:30px;
$placeholder_size: 24px;
$placeholder_lh: 28.8px;
$big-title_size: 72px;
$big-title_lh: 88px;
$big-title_size_tablet:45px;
$big-title_lh_tablet: 50px;
$fatty-title_size: 80px;
$fatty-title_lh: 88px;
$comment_size: 36px;
$comment_lh: 43.2px;
$comment_size_tablet:20px;
$comment_lh_tablet: 27px;
$review-author_size: 24px;
$review-author_size_tablet: 18px;
$review-author_lh: 28.8px;
$review-author_lh_tablet: 22px;

